body{
    font-family: sans-serif;
}
h1{
     text-align: center;
}
.seriesAnalyzer{
    text-align: center;
    position:relative;
    left: -500px;
}
.powerSeries{
    text-align: center;
    position: relative;
    left: -500px;
}
.radius{
    text-align: center;
    position:relative;
    left: -500px;
}
.desmos{
    align-items: center;
    position: relative;
    left: 700px;
    bottom: 750px;
}
.mac{
    text-align: center;
    position:relative;
    left: -500px;
}